a {
  color: rgb(18, 38, 86);
}

body {
  background-color: rgb(223, 220, 220);
}

img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 4px solid white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > h1 {
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-family: "Open Sans", sans-serif;
  color: white;
  background-color: rgb(36, 67, 137);
  font-size: 40px;
}

nav {
  display: flex;
  justify-content: flex-end;
  font-family: "Open Sans", sans-serif;
}

nav a {
  padding: 10px;
  text-decoration: none;
}

.hero {
  display: flex;
  background-image: url("./assets/images/header-bg-test.png");
  justify-content: flex-end;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-me {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 30px;
}

.about-me h1 {
  text-align: center;
  width: 24%;
  font-family: "Open Sans", sans-serif;
}

.about-me p {
  flex-wrap: wrap;
  font-family: "Open Sans", sans-serif;
}

.work {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: normal;
  flex-direction: row;
}

#work-title {
  width: 20%;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

#project-container {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
}

#project {
  width: 90%;
  height: 300px;
  display: flex;
  justify-content: flex-start;
  background-image: url(./assets/images/simple-blue-gradient-light-background-with-retro-color-space-text-composition-art-image-website-magazine-graphic-commercial-campaign-design_1962-309.webp);
  font-family: "Open Sans", sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 300ms;
}

#project:hover {
  box-shadow: none;
}

#project1,
#project2,
#project3,
#project4 {
  border-radius: 10px;
  width: 45%;
  height: 150px;
  display: flex;
  justify-content: flex-start;
  color: white;
  margin: 10px;
  font-family: "Open Sans", sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 300ms;
}

#project1:hover {
  box-shadow: none;
}

#project2:hover {
  box-shadow: none;
}

#project3:hover {
  box-shadow: none;
}

#project4:hover {
  box-shadow: none;
}

#project1 {
  background-image: url(./assets/images/download.jpg);
}

#project2 {
  background-image: url(./assets/images/download-2.jpg);
}

#project3 {
  background-image: url(./assets/images/images-1.jpg);
}

#project4 {
  background-image: url(./assets/images/download-1.jpg);
}

.footer {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
}

.footer h1 {
  width: 20%;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.contact-info {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

ul {
  width: 80%;
}

@media screen and (max-width: 800px) {
  .header {
    width: 100%;
    flex-direction: column;
  }
  .about-me {
    flex-direction: column;
  }
  .work {
    flex-direction: column;
    width: 100%;
  }

  #project,
  #project1,
  #project2,
  #project3,
  #project4 {
    width: 100%;
  }
  #project-container {
    width: 100%;
  }

  #about-me >h1{
    width: 100%;
}

#contact {
    flex-direction: column;
    width: 100%;
}
.footer >h1 {
    width: 100%;
}
}
